@charset "UTF-8";

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

#titulo{ background-image: linear-gradient( rgb(0, 0, 0) 15%, rgb(126, 49, 49));
    height: 130px;
    width: auto;
    margin: 0;
    padding: 0;
}
#logo{
    height: 150px;
    width: 350;
}

.opcoes{
    margin: 0;
    padding: 0;
    background-color: rgb(33, 33, 33);
    list-style-type: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 120px;
}
.opcoes2{
    float: right;
    list-style: none;
    overflow: hidden;
    background-color: rgb(33, 33, 33);
    margin-left: 8px;
}

.opcoes2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

.opcoes2 a:hover{
background-color: rgb(255, 255, 255);
color: brown;

}


h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-weight: bolder;
    text-decoration: underline;
    color: brown;
    text-align: center;
}

#archives{
width: auto;
}

.elementolista{
    color: rgb(0, 0, 0);
    display:contents;
}


.tierset{
    color: rgb(210, 16, 16);
    background-color: rgb(8, 0, 15);
}


.tiers{
    list-style-type:none;

}

.side-block{
    background-color: white;
    width: 50px;
    height: 100px;
    padding-top: 300px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 200px;
    display: inline
}

#classes{
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 80px;
}

#classes a{
    text-decoration: none;
    color: black;
}

#classes a:hover{
    color: red;
   
}

#center-block{
    background-color: white;
    width: 1000px; float: right;
    margin-right: 100px;
    height: 300px;
    border-radius: 20px;
    margin-top: 0;
}